@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    overflow-x:hidden;
    background-color: #0f0f0f;
    font-size: clamp(14px, 1.2vw, 16px);
}


body {
    font-family: "TWK Lausanne", "Inter", sans-serif;
    overflow-x: hidden;
}

body.menu-open {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    inset: 0;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    color: white;
    font-size: clamp(2.2rem, 6vw, 7rem);
    letter-spacing: clamp(-0.05rem, -0.3vw, -0.2rem);
    font-weight: 400;
    line-height: 1;
}

a, p{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    user-select: none;
}

nav {
    position: fixed;
    width: 100vw;
    padding: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 72px;

}

.logo a{
    font-weight: 800;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.logo a:hover {
    text-shadow: 0 0 5px rgb(210, 247, 247);
}

.menu-toggle{
    position: relative;
    width: 3rem;
    height: 1.5rem;
    cursor: pointer;
}

.menu-toggle p{
    position: absolute;
    transform-origin: top left;
    will-change: transform,opacity;
    font-weight: 800;
    font-size: 20px;
}

.menu-toggle p:hover {
    text-shadow: 0 0 10px rgb(210, 247, 247);
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    bottom: 1px;
}

.menu-toggle p#menu-close{
    opacity: 0;
    transform: translateX(-5px) translateY(10px) rotate(5deg); 
}

.menu-overlay{
    position: fixed;
    width: 100vw;
    height: 100svh;
    background-color: #0f0f0f;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0, 100% 0, 0% 0%);
    
   
}

.menu-content {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    transform-origin: left bottom;
    will-change: transform, opacity;
    transform: translateX(-100px) translateY(-100px) scale(1.5) rotate(-15deg);
    opacity: 0.25;
}

.menu-items, .menu-footer{
    width: 100%;
    padding: 2.5em;
    display: flex;
    gap: 2.5em;
}

.col-lg{
    flex:3;
}

.col-sm{
    flex:2;
}

.menu-items, .col-lg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-preview-img{
    position: relative;
    width: 40%;
    height: clamp(500px, 55vh, 550px);
    overflow: hidden;
    pointer-events: none;
}

.menu-preview-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    will-change: transform, opacity;
}

.menu-items .col-sm {
    padding: 1.0em 0;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.menu-link, .menu-social {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.link, .social{
    padding-bottom: 6px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.link a, .social a {
    display: inline-block;
    will-change: transform;
    transition: color 0.5s;
    transform: translateY(120%);
    opacity: 0.25;
    position: relative;
}

.link a{
    font-size: clamp(1.8rem, 4vw, 3.5rem);
    letter-spacing: -0.02rem;
}

.social a{
    color: #8f8f8f;
}

.social a:hover {
    color: #fff;
}

.menu-footer {
    position: absolute;
    bottom: 0;
}

.menu-footer .col-sm{
    display: flex;
    justify-content: space-between;
}

.link a::after,
.social a::after,
.menu-footer a::after{
    position: absolute;
    content: "";
    top: 102.5%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.link a:hover::after,
.social a:hover::after,
.menu-footer a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.container{
    position: relative;
    width: 90%;
    height: 100%;
    will-change: transform;
    transform-origin: right top;
}

.hero{
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 2.5em;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding-top: calc(72px + 2.5em);
    
}

.hero img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    z-index: -1;
}

.hero h1{
    width: min(90%, 900px);
}

.navbar {
  font-size: 18px;
}
@media (max-width: 1024px) {
  .menu-items {
    flex-direction: column;
  }

  .menu-preview-img {
    width: 70%;
  }

  .col-lg,
  .col-sm {
    flex: unset;
    width: 100%;

    }
  .logo a{
    margin-right: 50px;
  }
}



